<app-header></app-header>
<div class="wrapper">
  <div class="page-header" style="background-image: url('assets/img/background.jpg');">
    <div class="filter"></div>
    <div class="content row align-items-center">
      <div class="col">
        <div class="title-brand">
          <img src="assets/img/logo-pequeno.png" alt="" style="width: 150px; height: 150px;">
          <h2 class="presentation-title">Always Vacant</h2>
          <h6 class="presentation-subtitle">for anyone, wherever you are</h6>
        </div>
      </div>
      <br>
      <div class="col ">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-5"><b>WELCOME</b></h2>
            <button type="button" class="btn btn-danger btn-block p-3 h3 mb-3" data-toggle="modal"
              data-target="#form">Log in</button>
            <p class="card-text text-center my-3">---------------- or ----------------</p>
            <button type="button" class="btn btn-warning btn-primary btn-block p-3 h3" data-toggle="modal"
              data-target="#form1">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>LOG IN
        </h5>

      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="email1">Person Name</label>
            <input type="text" class="form-control" id="email1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="password1">Age</label>
            <input type="text" class="form-control" id="password1">
          </div>
          <div class="form-group">
            <label for="password1">Company Name</label>
            <input type="password" class="form-control" id="password2">
          </div>
          <div class="form-group">
            <label for="password1">Conuntry</label>
            <input type="password" class="form-control" id="password2">
          </div>
          <div class="form-group">
            <label for="password1">City</label>
            <input type="password" class="form-control" id="password2">
          </div>
        </div>
        <div class="d-grid gap-2 col-10 mx-auto">
          <button class="btn btn-primary btn-block" type="button">Register</button>
        </div>
        <br><br>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="form1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Edit Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="email1">Person Name</label>
            <input type="text" class="form-control" id="email1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="password1">Age</label>
            <input type="text" class="form-control" id="password1">
          </div>
          <div class="form-group">
            <label for="password1">Company Name</label>
            <input type="password" class="form-control" id="password2">
          </div>
          <div class="form-group">
            <label for="password1">Conuntry</label>
            <input type="password" class="form-control" id="password2">
          </div>
          <div class="form-group">
            <label for="password1">City</label>
            <input type="password" class="form-control" id="password2">
          </div>
        </div>
        <div class="d-grid gap-2 col-10 mx-auto">
          <button class="btn btn-primary btn-block" type="button">Register</button>
        </div>
        <br><br>
      </form>
    </div>
  </div>
</div>
<app-footer class="sticky-bottom"></app-footer>
