<app-header></app-header>
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/background.jpg');">
    <div class="filter"></div>
    <div class="content row">
      <div class="col-md-6">
        <div class="title-brand">
          <img class="img-fluid" src="assets/img/logo-pequeno.png" alt="" style="width: 150px; height: 150px;">
          <h2 class="presentation-title">Always Vacant</h2>
          <h6 class="presentation-subtitle">for anyone, wherever you are</h6>
        </div>
      </div>
      <br>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
<app-footer class="sticky-bottom"></app-footer>
