<app-headeradmin></app-headeradmin>
<app-sidebar></app-sidebar>
<br><br>
<h2 style="text-align: center;">EDIT Category</h2>
<div class="modal-body">
    <form [formGroup]="editarForm" (ngSubmit)="putForm(editarForm.value)" >
      


      <div class="form-group">
        <label>Name Category</label>
        <input formControlName="Nombre" type="text" class="form-control" >
      </div>
       
        
        <input type="submit" style="color: white; " value="Edit Category" class="btn btn-info   btn-lg btn-block">
        <button type="button" (click)="eliminar()"  class="btn btn-danger   btn-lg btn-block" >Delete Category</button>
      
    </form>

  </div>

  <br><br>

<br><br><br>


<app-footer class="fixed-bottom"></app-footer>
