<app-header></app-header>
<app-sidebar></app-sidebar>
<br><br>
<div class="container">
    <h3 style="background-color: #2fa7c5; color: white;" class="card-header text-center font-weight-bold text-uppercase py-4">Number of Jobs</h3>
</div>
<br>
<P style="text-align: center; font-size: 18px;">15 jobs by table is being displayed</P>

<div class="container">
    <div class="form-group has-success ">
        <input type="number" class="form-control input-group mb-3"   placeholder="Enter the number of jobs you want to view">
      </div>
</div>
<br>
<div class="container">
    <button type="button" class="btn btn-success btn-lg btn-block">Update</button>
</div>

    

<app-footer class="fixed-bottom"></app-footer>