<app-headeradmin></app-headeradmin>
<br><br>

<div class="container-fluid mt-5">
  <div class="container">
    <div class="row align-self-center text-center">
      <div class="col-md-9 col-sm-5">
          <button type="button" (click)="volver()" class="btn btn-info mb-3 ml-5 post-job boton">Volver atras <i
              class="fa fa-bullhorn fa-lg"></i></button>
      </div>
      <div class="col-md-3 col-sm-5">
        <button type="button" class="btn btn-info mb-3 ml-5 post-job boton">Post a Job <i
            class="fa fa-bullhorn fa-lg"></i></button>
      </div>
    </div>
  </div>
  
    <div class="card container contenido">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            
            <h3 class="card-title">{{Title}}</h3>
            <h5 class="card-title text-muted"> {{City}}, Republica Dominicana</h5>
            <hr>
            <p class="card-text">{{Position}}- {{TipoVacant}}</p>
            <hr>
          </div>
          <div class="col-2">
            <img src="{{img}}">
          </div>
        </div>
        <p class="card-text">{{Descripcion}}</p>
        <p>How to apply?</p>
        <p>{{Email}}</p>
      </div>
    </div>
    

  
</div>
<div class="contenido"></div>

<app-footer class="fixed-bottom"></app-footer>
