<app-headeradmin></app-headeradmin>
<br><br>
<div class="container-fluid mt-5 content">
  <div class="row align-self-center text-center ">
    <div class="col-5 margen">
      <button data-toggle="modal" data-target="#formJob" type="button"
        class="btn btn-info mb-3 ml-5 post-job boton">Post a Job <i class="fa fa-bullhorn fa-lg"></i></button>
    </div>
    <div class="col-5 margen">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-info" type="button "><i class="fa fa-search fa-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card container">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
