<app-header></app-header>
<br>
<div class="container">
  <div>
    <h2 style="text-align: center;">Post a Job</h2>
  </div>
  <br>

  <form>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1">
        <option value="" selected disabled>Category</option>
        <option value="">A</option>
        <option value="">B</option>
        <option value="">C</option>
      </select>
    </div>

    <div class="input-group">

      <span class="input-group-addon" style="font-size: 20px;">Type:</span>

      <span class="radio">
        <label>
          <input type="radio" class="radiobox" name="style-0a2" style="margin-left: 5px;">
          <span style="font-size: 20px;"> Full Time</span>
        </label>

        <label>
          <input type="radio" class="radiobox" name="style-0a2" style="margin-left: 15px;">
          <span style="font-size: 20px; "> Part</span>
        </label>

        <label>
          <input type="radio" class="radiobox" name="style-0a2" style="margin-left: 15px;">
          <span style="font-size: 20px; "> Freelance</span>
        </label>
      </span>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputEmail4" placeholder="Company">
      </div>

      <div class="custom-file col-md-6">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose Logo</label>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputEmail4" placeholder="URL">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputEmail4" placeholder="Position">
      </div>
      <div class="form-group col-md-6">
        <select id="inputState" class="form-control">
          <option selected>Category</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <select id="inputState" class="form-control">
          <option selected>Country</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group w-100">
        <div class="col-md-12">
          <textarea class="form-control" id="message" name="message" placeholder="Descripcion" rows="7"></textarea>
        </div>
      </div>
      <button type="button" style="background-color: #B82601; color: white;" class="btn  btn-lg btn-block">Send</button>
    </div>
  </form>
</div>
<br>
<!-- Footer -->
<footer class="bg-light text-center text-lg-start">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
