<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br>
<div class="container mt-5">
  <div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </label>
    <nav id="sidebar">
      <div class="title">Menu</div>
      <ul class="list-items">
        <li><a href="/editjob"><i class="fa fa-pencil-square"></i>Edit/delete job</a></li>
        <li><a href="#"><i class="fa fa-slack"></i>Number of jobs</a></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>Create Category</a></li>
      </ul>
    </nav>
  </div>
 <!-- <div class="content">
    <div class="header">ALWAYS VACANT</div>
  </div>-->

</div>

