<app-header></app-header>
<br>
<div class="container-fluid mt-5">
  <br>
  <div class="row align-self-center text-center">
    <div class="col-5">
    <button type="button" class="btn btn-info mb-3 ml-5 post-job">Post a Job <i class="fa fa-bullhorn fa-lg"></i></button>
    </div>
    <div class="col-5">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button  class="btn btn-info" type="button "><i class="fa fa-search fa-lg"></i></button>
            </div>
          </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 align-self-center text-center">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table id="Scrolling-Table" class="table table-bordered table-striped">


          <tbody id="Scrolling-Table-Body">

            <div id="First-Table">
              <br>
              <div>
                <p class="category-job"><i class="fa fa-tint fa-lg"></i> Design</p>
                <div class="line"></div> 
                <br>
              </div>

              <table id="Job-Table-1" class="table table-striped table-hover">

                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Company</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Web Designer</td>
                    <td>MercaSID</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Web Designer</td>
                    <td>Sensio Labs</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Desktop Designer</td>
                    <td>Sensio Labs</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Mobile Designer</td>
                    <td>Sensio Labs</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Graphic Designer</td>
                    <td>Samexaos</td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div id="Second-Table">
              <p class="category-job"><i class="fa fa-code fa-lg"></i> Programming</p>
              <div class="line"></div> 
              <br>

              <table id="Job-Table-2" class="table table-striped table-hover">

                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Company</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Tester</td>
                    <td>Intellisys Inc.</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Web Developer</td>
                    <td>Claro RD</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Android Developer</td>
                    <td>Casa de Campo</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>QA Engineer</td>
                    <td style="color: red;">Confidencial</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Full Stack Developer</td>
                    <td>Samexaos</td>
                  </tr>
                  <tr>
                    <td>Santo Domingo</td>
                    <td>Full Stack Developer</td>
                    <td>Samexaos</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-footer class="fixed-bottom"></app-footer>
