<app-header></app-header>
<app-sidebar></app-sidebar>
<br><br>
<!-- Editable table -->
<div class="container">
    <h3 style="background-color: #2fa7c5; color: white;" class="card-header text-center font-weight-bold text-uppercase py-4">Edit jobs</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
       
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Person Name</th>
              <th class="text-center">Age</th>
              <th class="text-center">Company Name</th>
              <th class="text-center">Country</th>
              <th class="text-center">City</th>
              <th class="text-center">Accions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
              <td class="pt-3-half" contenteditable="true">30</td>
              <td class="pt-3-half" contenteditable="true">Deepends</td>
              <td class="pt-3-half" contenteditable="true">Spain</td>
              <td class="pt-3-half" contenteditable="true">Madrid</td>
              
                
              
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-primary btn-rounded btn-sm my-0">Edit</button></span>

                    <span style="margin-left: 14px;" class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
           
            <tr>
              <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
              <td class="pt-3-half" contenteditable="true">45</td>
              <td class="pt-3-half" contenteditable="true">Insectus</td>
              <td class="pt-3-half" contenteditable="true">USA</td>
              <td class="pt-3-half" contenteditable="true">San Francisco</td>
              
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-primary btn-rounded btn-sm my-0">Edit</button></span>
                      
                    <span style="margin-left: 14px;" class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            
           
          </tbody>
        </table>
      </div>
    </div>
  </div>

<app-footer class="fixed-bottom"></app-footer>