<app-headeradmin></app-headeradmin>
<app-sidebar></app-sidebar>
<div class="wrapper" style="z-index: -221;">
  <div class="page-header section-dark img-responsive" style="background-image: url('assets/img/background-2.jpg');">
    <div class="filter"></div>
    <div class="content">
      <div class="title-brand">
        <img class="img-fluid" src="assets/img/logo-pequeno.png" alt="" style="width: 150px; height: 150px;">
        <h2 class="presentation-title">Always Vacant</h2>
        <h6 class="presentation-subtitle">welcome administrator</h6>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>
