<app-headeradmin></app-headeradmin>
<div class="container-fluid mt-5">
  <br><br>
  <div class="row align-self-center text-center ">
    <div class="col-5 margen">
      <button data-toggle="modal" [attr.data-target]="'#' + modal" type="button"
        class="btn btn-info mb-3 ml-5 post-job boton" (click)="validateModal()">Post a Job <i
          class="fa fa-bullhorn fa-lg"></i></button>
    </div>
    <div class="col-5 margen">
      <div class="input-group">
        <div>
          <button type="button" (click)="goback()" class="btn btn-outline-info pr-md-3">return</button>
        </div>
        <div class="form-group pr-md-2 ">
          <select class="form-control" name="filterpost" [(ngModel)]="filterPost">
            <option label="Elija su categoria"> </option>
            <option *ngFor="let array of categoria" id="CategorySelector">
              {{ array.Nombre }}</option>
          </select>
        </div>
        <input type="text" class="form-control" name="filterPost" placeholder="🔎 Search..." [(ngModel)]="filterPost"
          aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8 align-self-center text-center">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table id="Scrolling-Table" class="table table-bordered table-striped">


          <tbody id="Scrolling-Table-Body">

            <div id="First-Table">
              <br>

              <table style="cursor: pointer;" class="table table-striped table-hover">

                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Company</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let array of conversion| sorting | filter:filterPost  | paginate: { itemsPerPage: 20, currentPage: paginactual }"
                    (click)="verdetails(array.ID_Vacante)">
                    <td>{{ array.Categoria }}</td>
                    <td>{{ array.Ciudad }}</td>
                    <td>{{ array.Posicion }}</td>
                    <td>{{ array.Compania }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
          </tbody>
        </table>
        <pagination-controls (pageChange)="paginactual = $event " class="d-flex justify-content-center">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="formJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">POST A JOB
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
      </div>

      <div class="modal-body">
        <form [formGroup]="jobForm" (ngSubmit)="postForm(jobForm.value)">
          <div class="form-row form-group">
            <div class="form-group col-md-6">
              <label>Company:</label>
              <input type="text" formControlName="Compania" class="form-control" id="Compania" placeholder="Company">
            </div>
            <div class="form-group col-md-6">
              <label>Ubication:</label>
              <input type="text" formControlName="Ubicacion" class="form-control" id="Ubicacion"
                placeholder="Ubication">
            </div>
            <div class="form-group col-md-6">
              <label>Email:</label>
              <input type="text" class="form-control" formControlName="Email" id="Email" placeholder="Email">
            </div>

            <div class="form-group col-md-6">
              <label>Category:</label>
              <select formControlName="ID_Categoria" class="form-control">
                <option value="" id="CategorySelector" disabled>--Selecciona la categoría--</option>
                <option *ngFor="let array of categoria" id="CategorySelector" value={{array.ID_Categoria}}>
                  {{ array.Nombre }}</option>
              </select>
            </div>
            <div class="form-group col-md-12 offset-md-3">
              <span class="input-group-addon" style="font-size: 20px;">Type of job:</span>

              <span>
                <label>
                  <input type="radio" formControlName="ID_Tipo_Vacante" value="2" class="radiobox"
                    style="margin-left: 5px;">
                  <span style="font-size: 20px;"> Full Time</span>
                </label>

                <label>
                  <input type="radio" formControlName="ID_Tipo_Vacante" class="radiobox" value="3"
                    style="margin-left: 15px;">
                  <span style="font-size: 20px; "> Part Time</span>
                </label>

                <label>
                  <input type="radio" formControlName="ID_Tipo_Vacante" class="radiobox" value="1"
                    style="margin-left: 15px;">
                  <span style="font-size: 20px; "> Freelance</span>
                </label>
              </span>
            </div>
            <div class="form-group col-md-6">
              <label>Position:</label>
              <input formControlName="Posicion" type="text" class="form-control" placeholder="Position">
            </div>
            <div class="form-group col-md-6">
              <label>URL:</label>
              <input formControlName="URL" type="text" class="form-control" placeholder="URL">
            </div>
            <div class="form-group col-md-6">
              <label>Country:</label>
              <select formControlName="Codigo_pais" class="form-control" (change)="onChange($event.target.value)">
                <option value="" id="CountrySelector" disabled>--Selecciona el país--</option>
                <option *ngFor="let array of paises" id="CountrySelector" value={{array.Codigo}}>
                  {{ array.Nombre }}</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label>City:</label>
              <select formControlName="ID_Ciudad" class="form-control">
                <option value="" id="CountrySelector" disabled>--Selecciona el ciudad--</option>
                <option *ngFor="let array of ciudad" id="CitiesSelector" value={{array.ID_Ciudad}}>
                  {{ array.Nombre }}</option>
              </select>
            </div>



            <div class="d-flex justify-content-center">
              <div class="form-group col-md-6">
                <label>Logo:</label>
                <fieldset class="form-group">
                  {{ imageError }}
                  <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">

                      <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                      </ng-container>
                      <ng-template #elseTemplate>

                        <img src="../../../assets/img/no-img-placeholder.png" class="img-responsive">
                      </ng-template>

                    </div>

                  </div>
                </fieldset>
              </div>
              <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
            </div>
            <div class="form-group w-100">
              <div class="col-md-12">
                <label>Descripcion</label>
                <textarea formControlName="Descripcion" class="form-control" placeholder="Descripcion"
                  rows="7"></textarea>
              </div>
            </div>
            <button type="submit" id="confirm" style="color: white; "
              class="btn btn-info btn-lg btn-block">{{ confirm }}</button>
          </div>
        </form>
        <!--<div class="alert alert-danger" role="alert">
            You need to complete all fields!!
          </div>-->

      </div>

      <br><br>

    </div>
  </div>
</div>
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h3 class="modal-title">Lack of permits.
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">

          You must have Postman permissions to access this option!!
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer class="fixed-bottom"></app-footer>
