<app-headeradmin></app-headeradmin>
<app-sidebar></app-sidebar>
<br><br>
<h2 style="text-align: center;">EDIT VACANT</h2>

    <div class="modal-body">
      <form [formGroup]="editarForm" (ngSubmit)="putForm(editarForm.value)">
        <div class="form-row form-group">

        
          <div class="form-group col-md-6">
            <label >Company</label>
            <input formControlName="Compania"  type="text" class="form-control" >
          </div>

          <div class="form-group col-md-6">
            <label >Descripcion</label>
            <input formControlName="Descripcion" type="text" class="form-control"  >
          </div>
         
          <div class="form-group col-md-6">
            <label >ID City</label>
            <input formControlName="ID_Ciudad"  type="text" class="form-control"  >
          </div>
          <div class="form-group col-md-6">
            <label >Location</label>
            <input formControlName="Ubicacion" type="text" class="form-control"  >
          </div>

          <div class="form-group col-md-6">
            <label >Position</label>
            <input formControlName="Posicion" type="text" class="form-control"  >
          </div>

          <div class="form-group col-md-6">
            <label >ID Category</label>
            <input formControlName="ID_Categoria" type="text" class="form-control"  >
          </div>

          <div class="form-group col-md-6">
            <label >Pais</label>
            <input formControlName="Nombre" type="text" class="form-control"  >
          </div>


          
          <div class="form-group col-md-6">
            <label >Email</label>
            <input formControlName="Email" type="text" class="form-control"  >
          </div>

          <div class="form-group col-md-6">
            <label >URL</label>
            <input formControlName="URL" type="text" class="form-control"  >
          </div>
          
          <div class="form-group col-md-6">
            <label >Logo</label>
            <input formControlName="Logo" class="form-control"  >
          </div>
          
          <input type="submit" style="color: white; " value="Edit Vacant" class="btn btn-info   btn-lg btn-block">
          <button type="button" (click)="eliminar()" class="btn btn-danger   btn-lg btn-block" >Delete Vacant</button>
        </div>
      </form>

    </div>

    <br><br>
  
<br><br><br>


<app-footer class="fixed-bottom"></app-footer>
