<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="social-network social-circle">
          <h4>Follow Us
          <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
        </h4>
        </div>
      </div>
      <div class="col-md-6 copy">
        <p class="text-center">&copy; Copyright 2018 - Company Name. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
