<footer class="footer bg-warning">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><p>Our social media:</p></li>
          <li><a href="https://twitter.com/CreativeTim"><i class="fa fa-twitter" style="font-size: 32px;"></i></a></li>
          <li><a href="https://www.facebook.com/CreativeTim"><i class="fa fa-facebook-square" style="font-size: 32px;"></i></a></li>
          <li><a href="https://www.instagram.com/CreativeTimOfficial"><i class="fa fa-instagram" style="font-size: 32px;"></i></a></li>
          <li><a href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular"><i class="fa fa-github" style="font-size: 32px;"></i></a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Samexao Devs
        </span>
      </div>
    </div>
  </div>
</footer>
